# Data Preprocessing Template

In [1]:
# libraries <-- 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# import data <--

veriler = pd.read_csv("eksikveriler.csv")
#pd.read_csv('C:\Users\mfa\...\veriler.csv')

In [3]:
print(veriler)
type(veriler)

   ulke  boy  kilo   yas cinsiyet
0    tr  130    30  10.0        e
1    tr  125    36  11.0        e
2    tr  135    34  10.0        k
3    tr  133    30   9.0        k
4    tr  129    38  12.0        e
5    tr  180    90  30.0        e
6    tr  190    80  25.0        e
7    tr  175    90  35.0        e
8    tr  177    60  22.0        k
9    us  185   105  33.0        e
10   us  165    55  27.0        k
11   us  155    50  44.0        k
12   us  160    58   NaN        k
13   us  162    59  41.0        k
14   us  167    62  55.0        k
15   fr  174    70  47.0        e
16   fr  193    90   NaN        e
17   fr  187    80  27.0        e
18   fr  183    88  28.0        e
19   fr  159    40  29.0        k
20   fr  164    66  32.0        k
21   fr  166    56  42.0        k

pandas.core.frame.DataFrame

In [4]:
# to seperate data <--

boy = veriler[['boy']]
boykilo = veriler[['boy','kilo']]
yas = veriler.iloc[:,3:4] 
## ↑↑ DATA FRAME

Yas = veriler.iloc[:,3:4].values
## ↑↑ NUMPY ARRAY

In [ ]:
boykilo.head()
## ↑↑ to show first five datas: "head()"

In [11]:
# missing data <--

print(veriler.isnull().sum() , '\n') 
## ↑↑ to show total number of NAN values

boykiloyas = veriler.iloc[:,1:4].values

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

imputer = imputer.fit(boykiloyas[:,1:4])
boykiloyas[:,1:4] = imputer.transform(boykiloyas[:,1:4])

print(boykiloyas)

ulke        0
boy         0
kilo        0
yas         2
cinsiyet    0
dtype: int64

[[130.    30.    10.  ]
 [125.    36.    11.  ]
 [135.    34.    10.  ]
 [133.    30.     9.  ]
 [129.    38.    12.  ]
 [180.    90.    30.  ]
 [190.    80.    25.  ]
 [175.    90.    35.  ]
 [177.    60.    22.  ]
 [185.   105.    33.  ]
 [165.    55.    27.  ]
 [155.    50.    44.  ]
 [160.    58.    28.45]
 [162.    59.    41.  ]
 [167.    62.    55.  ]
 [174.    70.    47.  ]
 [193.    90.    28.45]
 [187.    80.    27.  ]
 [183.    88.    28.  ]
 [159.    40.    29.  ]
 [164.    66.    32.  ]
 [166.    56.    42.  ]]

In [15]:
# Encoding : from categorical data to numeric data <--

from sklearn import preprocessing
ulke = veriler.iloc[:, 0:1].values
#print(ulke)

le = preprocessing.LabelEncoder()
ulke[:,0] = le.fit_transform(veriler.iloc[:,0])
#print(ulke)

ohe = preprocessing.OneHotEncoder()
ulke = ohe.fit_transform(ulke).toarray()
#print(ulke)

In [36]:
# from numpy data to data frame data <<

ulkesonuc = pd.DataFrame(data=ulke, index=range(22), columns= ['fr', 'tr', 'us'])
boykiloyasDf = pd.DataFrame(data=boykiloyas, index=range(22), columns= ['boy', 'kilo', 'yas'])

In [38]:
print(ulkesonuc.head(),'\n')
print(boykiloyasDf.head())

    fr   tr   us
0  0.0  1.0  0.0
1  0.0  1.0  0.0
2  0.0  1.0  0.0
3  0.0  1.0  0.0
4  0.0  1.0  0.0

     boy  kilo   yas
0  130.0  30.0  10.0
1  125.0  36.0  11.0
2  135.0  34.0  10.0
3  133.0  30.0   9.0
4  129.0  38.0  12.0

In [39]:
type(boykiloyasDf)

pandas.core.frame.DataFrame

In [44]:
tahminyas = boykiloyasDf[['yas']]
tahminyas.head()
#type(tahminyas)

    yas
0  10.0
1  11.0
2  10.0
3   9.0
4  12.0

In [43]:
# concatenation : to concat the separated data <-- 

sonveri = pd.concat([ulkesonuc,boykilo], axis=1)
sonveri.head()

    fr   tr   us  boy  kilo
0  0.0  1.0  0.0  130    30
1  0.0  1.0  0.0  125    36
2  0.0  1.0  0.0  135    34
3  0.0  1.0  0.0  133    30
4  0.0  1.0  0.0  129    38

In [46]:
# train & test split <--

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(sonveri,tahminyas, test_size=0.33, random_state=0)

In [48]:
x_train 
x_test

     fr   tr   us  boy  kilo
20  1.0  0.0  0.0  164    66
10  0.0  0.0  1.0  165    55
14  0.0  0.0  1.0  167    62
13  0.0  0.0  1.0  162    59
1   0.0  1.0  0.0  125    36
21  1.0  0.0  0.0  166    56
11  0.0  0.0  1.0  155    50
19  1.0  0.0  0.0  159    40

In [49]:
# data Scaling <--

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(x_train)
X_test = sc.fit_transform(x_test)
Y_train = sc.fit_transform(y_train)
Y_test = sc.fit_transform(y_test)